body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(173, 216, 230); /* Initial sky blue color */
    color: #333;
    transition: background-color 0.5s ease;
}

header {
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease;
    background-color: rgb(173, 216, 230); /* Initial light blue color */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

nav .logo {
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #333;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s, transform 0.3s;
    font-family: 'Montserrat', sans-serif;
}

nav ul li a:hover {
    color: #ff6600;
    transform: scale(1.1);
}

#sun {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 300px;
    background: radial-gradient(circle, #fde353, #ffe167);
    border-radius: 50%;
    filter: blur(50px); /* Apply blur to the sun itself */
    z-index: -1;
    opacity: 1;
    transition: opacity 0.5s ease;
}

#sun::before, #sun::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    background: radial-gradient(circle, transparent 70%, #ffcc00 70%);
    border-radius: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: -1;
}

#sun::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

#moon {
    position: absolute;
    top: 2500px; /* Positioned lower on the page */
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
    height: 600px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(135, 135, 135, 0.3);
    z-index: -1;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#moon::before {
    content: '';
    position: absolute;
    width: 570px;
    height: 570px;
    background: #f0f8ff;
    border-radius: 50%;
    top: 10px;
    left: 15px;
}

main {
    text-align: center;
}

.section {
    padding: 60px 20px;
    background-color: transparent;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
}

.contents {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
}

.content h1, .content h2 {
    font-family: 'Montserrat', sans-serif;
}

.contents h1, .contents {
    font-family: 'Montserrat', sans-serif;
    color: rgb(45, 45, 45);
}

.divider {
    height: 2px;
    background: linear-gradient(to right, #ffcc00, #ff6600);
    margin: 40px 0;
}

footer {
    background-color: #333;
    text-align: center;
    padding: 10px 0;
    color: #fff9c4;
}

.slider {
    position: relative;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    height: 500px; /* Fixed height for all slides */
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures images cover the slide area without distortion */
}

.navigation {
    position: absolute;
    width: 100%;
    top: 50%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.navigation i {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    transition: background 0.3s;
}

.navigation i:hover {
    background: rgba(0, 0, 0, 0.8);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    margin: 10px 0 5px;
}

form input, form textarea, form button {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s;
}

form input:focus, form textarea:focus {
    border-color: #ff6600;
    outline: none;
}

form button {
    background-color: #ffcc00;
    border: none;
    color: #333;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #ff6600;
}

#events ul li {
    margin: 10px 0;
    transition: transform 0.3s, background-color 0.3s;
}

/* Starry sky effect */
#stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: white;
    border-radius: 50%;
    opacity: 0;
    animation: twinkle 5s infinite;
}

@keyframes twinkle {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

body.starry-sky #stars .star {
    opacity: 1;
}

.container {
    position: relative;
    display: inline-block;
}

.text-wrapper {
    position: relative;
    display: inline-block;
}

.text {
    font-size: 100px;
    font-weight: bold;
    color: transparent;
    background: url('/images/summersky.png') no-repeat center center;
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.text-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

/* Rainbow wave text */
.rainbow-wave {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.rainbow-wave span {
    display: inline-block;
    animation: wave 2s infinite ease-in-out;
}

@keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.rainbow-wave span {
    display: inline-block;
    animation: wave 2s infinite ease-in-out;
    animation-delay: calc(0.1s * var(--i));
}

/* Glowing text effect for "About this website" */
.glowing-text {
    color: #ff0;
    text-shadow: 0 0 10px rgba(255, 255, 0, 0.8), 
                 0 0 20px rgba(255, 255, 0, 0.6), 
                 0 0 30px rgba(255, 255, 0, 0.4), 
                 0 0 40px rgba(255, 255, 0, 0.2), 
                 0 0 50px rgba(255, 255, 0, 0.1);
    transition: text-shadow 1s ease-in-out;
    font-size: 50px;
}

#about .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#about .text-container {
    flex: 1;
    text-align: left;
}

#about .image-container {
    flex: 1;
    text-align: right;
}

#about img {
    max-width: 100%;
    border-radius: 10px;
}
